<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1 style="text-align: center">Fun Of Heuristic Resumable File Upload</h1>
  <div style="width: 50vw; margin: auto;margin-left: 24vw;margin-bottom: 1em;">
    <mat-button-toggle-group name="fontStyle" [(ngModel)]="socket" aria-label="Font Style">
      <mat-button-toggle value='http'>Http</mat-button-toggle>
      <mat-button-toggle value='socket'>Socket</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
</div>
<div *ngIf="socket === 'http'">
  <mat-card style="width: 50vw; margin: auto">
    <mat-card-header>
      <mat-card-title>File Upload</mat-card-title>
    </mat-card-header>
    <button mat-raised-button (click)="fileSelect.click()">Select File</button><br><br>
    <h4 *ngIf="name.length > 0">Selected File: {{name}}</h4>
      <input type="file" hidden #fileSelect name="largeFile" (change)="onFileSelect($event)" />
  
      <button mat-raised-button (click)="resumableUpload()">Upload</button>
    <br><br>
      <mat-progress-spinner  *ngIf="uploadPercent > 0"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="uploadPercent">
    </mat-progress-spinner>
  
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToLink('https://youtu.be/R70yli6bSy4')">Video Link</button>
      <button mat-button (click)="goToLink('https://www.youtube.com/funofheuristic')">Channel</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="socket==='socket'">
  <app-upload-file-socket></app-upload-file-socket>
</div>


